.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007bff; /* Dark blue */
    color: #fff;
    padding: 10px 20px;
  }
  
  .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color:white;
  }
  
  .navbar-link {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
  }
  
  .navbar-link:hover {
    text-decoration: underline;
  }
  
  .navbar-link-secondary {
    color: #b3d7ff; /* Light blue */
  }
  
  .navbar-link-secondary:hover {
    text-decoration: underline;
  }
  